 

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body{
    background-color: black;
    /* width: 100;
    margin: auto; */
}


.main{
    background-image: url(images/background.jpg);
    height: 65vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 130vw);
}

.main .box{
    width: 100%;
    height: 65vh;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    margin: auto;
    padding: 22px;
}

nav img{
    position: relative;
    z-index: 1;

}

nav button{
    position: relative;
    z-index: 1;
}

nav svg{
    fill: #fff;
}

.text{
    position: relative;
    height: 100%;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 21px;
}

.movi{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.watch{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.ready{
    font-size: 21px;
    font-weight: 300;
    text-align: center;
}

button{
    background-color: rgb(229, 9, 20);
    border: none;
    color: white;
    cursor: pointer;
}

.sign{
    font-size: 15px;
    padding: 7px 12px;
    border-radius: 3px;
    font-weight: bold;
}

.eng{
    background-color: rgba(21, 21, 21, 0.5);
    border: 1px solid white;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 12px;
}

.get{
    font-size: 23px;
    padding: 15px 22px;
    border-radius: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

.line{
    width: 100%;
    height: 8px;
    background-color: rgb(39, 39, 39);
    margin: auto;
}

.text input{
    font-size: 16px;
    padding: 17px;
    border-radius: 5px;
    width: 350px;
    background-color: rgba(21, 21, 21, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.484);
    font-weight: bold;
    color: white;
}

.star{
    display: flex;
    gap: 8px;
    align-items: center;
}

.mid{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 60px;
}

.mid img{
    width: 492px; 
    position: relative;
    z-index: 1;
    
}

.amor{
    font-size: 48px;
    font-weight: bolder;
    padding: 15px 0;
}

.aple{
    font-size: 24px;
    width: 30vw;
}

.dev{
    position: relative;
    
}

.dev video{
    position: absolute;
    top: 75px;
    right: 0px;
    height: 203px;
    width: 498px;
}

.prime{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
    padding: 60px;
    position: relative;
}

.shows{
    font-size: 48px;
    font-weight: bolder;
    padding: 15px 0;
}

.save{
    font-size: 24px;
}

.bro{
    width: 30vw;
}

.milly img{
    height: 400px;
}

.saif video{
    position: absolute;
    right: 93px;
    height: 268px;
    width: 318px;
}

.saif{
    position: relative;
    
}

.faq{
    font-size: 48px;
    font-weight: bolder;
    padding-top: 80px;
    padding-bottom: 25px;
    width: 60vw;
    text-align: center;
}

.sup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.boxd:hover{
    background: #414141;
}

.boxd{
    transition: all 0.25s ease-out;
    height: 90px;
    width: 65vw;
    text-align: center;
    border: none;
    background-color: rgb(45, 45, 45);
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 0 25px;
    font-weight: 400;
    justify-content: space-between;
    cursor: pointer;
}

.universe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.res{
    font-size: 20px;
}

.manchala .star input{
    font-size: 16px;
    padding: 17px;
    border-radius: 5px;
    width: 350px;
    background-color: rgba(21, 21, 21, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.484);
    font-weight: bold;
    color: white;
}

.manchala{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sher{
    padding-bottom: 74px;
}

select{
    background-color: black;
}

.peak{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 60vw;
    margin: auto;
}

.speed{
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 14px;
    padding: 35px 0;
}   


u{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.call{
    max-width: 60vw;
    margin: auto;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.pxl{
    max-width: 60vw;
    margin: auto;
}

.ind{
    max-width: 60vw;
    margin: auto;
    padding: 30px 0;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
}

.eng{
    display: flex;
    justify-content: center;
    gap: 5px;
    /* align-items: center; */
    padding: 5px 10px;
    border: 1px solid rgba(137, 137, 137, 0.5);
    font-size: 17px;
}

.niga{
    display: flex;
    justify-content: center;
    gap: 5px;
    /* align-items: center; */
    padding: 5px 10px;
    background-color: rgba(21, 21, 21, 0.5);
    border: 1px solid rgba(137, 137, 137, 0.5);
    font-size: 15px;
    border-radius: 3px;
    margin-right: 12px;
}

footer{
    padding: 60px 0px;
    width: 60vw;
    margin: auto;
}

.speed div a{
    color: rgba(255, 255, 255, 0.7);
}

.bet{
    display: flex;
    gap: 12px;
}

.media{
    display: flex;
    border: 2px solid #ffffff4d;
    height: 55px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 11px;
    bottom: 90px;
    position: absolute;
    margin-left: 105px;
    gap: 90px;
    background-color: black;
}

.media img{
    height: 45px;
    width: auto;
}

.media .cover{
    height: 100%;
    width: 45px;
}

.med{
    display: flex;
    align-items: center;
    gap: 13px;
    
}

.str{
    font-size: 14px;
    font-weight: bolder;
}

.downy{
    font-size: 11px;  
    color: #0071eb;
}

.gid{
    height: 55px;
}

/* section{
    width: 60vw;
    margin: auto;
} */

@media screen and (max-width: 1000px){
    .movi{
        font-size: 32px;
    }
    .watch{
        font-size: 20px;
    }
    .ready{
        font-size: 20px;
    }
}

@media screen and (max-width: 1395px){
    .aple{
        font-size: 24px;
        width: 40vw;
    }
    .amor{
        font-size: 50px;
        font-weight: bolder;
        padding: 15px 0;
    }
    .mid img{
        width: 530px; 
        position: relative;
        z-index: 1;
        
    }
    .dev video{
        position: absolute;
        top: 75px;
        right: 0px;
        height: 224px;
        width: 530px;
    }
}

@media screen and (max-width: 1395px){
    .shows{
        font-size: 43px;
        font-weight: bolder;
        padding: 15px 0;
    }
    
    .save{
        font-size: 20px;
    }
    
    .bro{
        width: 40vw;
    }
    .milly .boby{
        height: 450px;
    }

    .media{
        margin-left: 135px;
    }

    .saif video{
    position: absolute;
    right: 93px;
    height: 296px;
    width: 339px;
    }
}

@media screen and (max-width: 1300px){
    
}

@media screen and (max-width: 1200px){
    
}

@media screen and (max-width: 1200px){
    
}